* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#mainContainer{
    background-color: darkgray;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000000000;
}

#reportContainer {
    background-color: #eee;
    height: 100%;
    width: 60%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    z-index: 10000000000;
    /* visibility: hidden; */
}

#reportContainer .title {
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

.column{
    height:100%;
    width: 33%;
}

.reportMenu{
    display:flex;
    flex-direction: row;
}

.active{
    background-color: aquamarine;
}

li{
    width: 150px;
    padding: 2px;
}